@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="border-radius-1 p-3 mx-2 t-bg-elevate-1 t-text text-center">
        <div class="display-4">FinTrack</div>
        <div class="h3 text-light">Master Your Money, Shape Your Future</div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 m-2 g-0">
        <div class="col">
            <div class="d-flex flex-column h-100">
                <div class="border-radius-1 p-3 t-bg-elevate-1 t-text h-100">
                    <div class="h3 text-light text-center">Take Control of Your Finances</div>
                    <div class="text-light text-justify">
                        Welcome to Fintrack, your personal financial tracker that helps you understand your money better than ever before. Start by inputting your income and expenses, and let us guide you on your journey to financial stability. Our user-friendly interface makes managing your finances a breeze, allowing you to take control and make informed decisions about your money.
                    </div>
                    <img src="https://source.unsplash.com/300x500/?Finance" style="max-height: 450px; object-fit: cover; filter: brightness(.8) contrast(1.2);" class="pt-2 w-100" />
                    <div class="text-light text-justify pt-2">
                        Experience financial empowerment with Fintrack. Our platform offers a clear, real-time overview of your finances, aiding in effective planning and tracking. With Fintrack, the complex world of personal finance becomes user-friendly, leading you towards a more secure, stress-free future. Your one-stop solution for financial clarity is here
                    </div>
                </div>
                <div class="border-radius-1 p-3 mt-2 t-bg-elevate-1 t-text">
                    <div class="h3 text-light text-center">Visualize Your Spending Habits</div>
                    <div class="text-light text-justify">
                        Get insights into your spending habits with our interactive charts and graphs. Fintrack categorizes your expenses, showing you exactly where your money goes each month. With these insights, you can identify areas for potential savings and improve your financial habits. Understand your spending patterns and make changes that matter.
                    </div>
                    <img src="https://source.unsplash.com/300x500/?Spending" style="max-height: 300px; object-fit: cover; filter: brightness(.8) contrast(1.2);" class="pt-2 w-100" />
                </div>
            </div>
        </div>
        <div class="col ps-2 pt-2 pt-lg-0">
            <div class="border-radius-1 p-3 t-bg-elevate-1 t-text h-100">
                <div class="h3 text-light text-center">Smart Budgeting for a Brighter Future</div>
                <div class="text-light text-justify">
                    With Fintrack's smart budgeting tool, planning for your future has never been easier. Based on your income and expenses, Fintrack provides customized budgeting recommendations to help you allocate your resources efficiently. Whether you're saving for a dream vacation, your child's education, or a secure retirement, Fintrack helps you set achievable financial goals and guide you towards them. Start planning for a brighter future today with Fintrack.
                </div>
                <img src="https://source.unsplash.com/300x500/?Planning" style="max-height: 100%; object-fit: cover; filter: brightness(.8) contrast(1.2);" class="pt-2 w-100" />
            </div>
        </div>
    </div>
</div>
